*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

}
.navbar
{
    background-color: #0f1111;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 113px;
}
.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/* box 2 style */
.add-first{
    color: #CCCCCC;
    font-size: 0.75rem;
    margin-left: 15px;
}
.add-second{
    color: #FFFFFF;
    font-size: 0.875rem;
    margin: 3px;
}
.address-icon{
    display: flex;
    align-items: center;
}
#select-all
{
    width: 40px;
}
/* box3 */
.nav-search{
    display: flex;
    width: 444.38px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}
.nav-search:hover {
    border: 2px solid orange;
    border-radius: 4px;
}
.select-search{
    background-color: #f3f3f3;
    width: 52px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #febd68;
}
/* box4 */
.lang-icon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 56.45px;
    height: 33px;
}

.hii {
    height: 16.2px;
    width: 21.6px;
}
.lang-text{
    height: 15px;
    width: 19.45px;
    font-size: 14px;
    font-weight: bold;
}
/* box5  */
.hello{
    font-size: 12px;
    color: #FFFFFF;
    margin: 3px;
    width: 68.7px;
    height: 14px;
}
#account_and_signin{
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
    width: 129.57px;
    height: 15px;
    font-weight: bold;
}
/* box6 */
.returns{
    font-size: 12px;
    color: #FFFFFF;
    width: 59.91px;
    height: 14px;
}
.orders{
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
    width: 59.91px;
    height: 15px;
    font-weight: bold;
}
/* box7 */
.fa-cart-shopping{
    font-size: 30px;
}
.nav-cart{
    font-size: 14px;
    font-weight: bold;
}

/* panel css */
.panel{
    display: flex;
    justify-content: space-evenly;
    height: 39px;
    background-color: #222f3d;
    color: white;
    align-items: center;
}
.panel-ops p{
    display: inline;
    width: 70%;
    margin: 5px 0px 6px 0px;
    padding: 8px 9px;
}
.panel-ops{
    width: 70%;
    font-size: 14px;
    
}
.panel-all{
    font-size: 14px;
    font-weight: bold;
}
.panel-deals{
    font-size: 14px;
    font-weight: bold;
}
/* hero section */
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hero-msg{
    background-color: white;
    color: #0f1111;
    text-align: center;
    height: 40px;
    width: 1149px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
    text-decoration: none;
}
/* shop section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(186, 202, 205);
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box-content p{
    color: #007185;
}
/* footer */
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}
.foot-panel2 p{
    font-weight:bolder ;
    font-size: 16px;
    margin: 6px 0px 14px;
}
ul a{
    display: block;
    text-decoration: none;
    color: #dddddd;
    font-size: 14px;
    margin: 0px 0px 10px;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top:0.5px solid white;
    height:68px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
}

.footpanel4{
    font-size: 12px;
    color:#dddddd;
    background-color:  #222f3d;
    height: 77px;
}
.pages{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pages a{
    text-decoration: none;
    color: white;
    margin: 10px;
}
.copyright{
        display: flex;
        align-items: center;
        justify-content: center;
}